.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 60px;
  padding: 20px 41px;
  border-radius: 29px;
  border: 2px solid $main-orange-color;
  background-color: $btn-back;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: $main-blue-color;
  @include main-font1();
  @include transition(all, .3, 0);

  i {
    @include transition(all, .3, 0);
  }

  &:hover {
    color: #fff;
    background: $main-orange-color;
  }

  &_2 {
    padding: 0 18px;
    background: transparent;
    border-color: $btn-2-border;
    height: 34px;
    line-height: 32px;
    color: $btn-2-color;
    font-size: 14px;

    &:hover {
      border-color: $main-orange-color;
    }
  }
  &_3 {
    padding: 0 38px;
    height: auto;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: 0.4px;

    &:before,
    &:after{
      opacity: 1;
      z-index: 2;
      @include absoluteCenterY();
      left: -18px;
      width: 36px;
      content: '';
      @include transition(all, .3, 0);

    }
    &:before {
      height: 8px;
      background: $btn-back;
    }
    &:after {
      z-index: 3;
      height: 2px;
      background: $main-orange-color;
    }
    &:hover {
      background: $main-orange-color;
      color: $main-white-color;
      &:before {
        background: transparent;
      }
      &:after,
      &:before {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
      }
    }

    &_1 {
      color: $btn-2-color;
      border-color: $btn-back;
      background: transparent;

      &:before {
        background: $main-orange-color;
      }
      &:after {
        background: $btn-back;
      }
      &:hover {
        background: $main-white-color;
        color: $main-orange-color !important;
      }
    }
  }
  &_4 {
    padding: 0 22px;
    background: $main-orange-color;
    height: auto;
    line-height: 48px;
    color: $btn-search-color;
    font-size: 16px;

    &:hover {
      color: $main-orange-color;
      background: $btn-search-color;
    }
    &_1 {

      &:hover {
        color: $main-white-color;
        background: transparent;
        border-color: $main-white-color;
      }
    }
  }
  &_5 {
    height: auto;
    padding: 0 22px;
    font-size: 16px;
    line-height: 48px;
    color: $main-blue-color;
  }
  &_search {
    padding: 0 39px;
    background: $main-blue-color;
    border: none;
    height: 48px;
    line-height: 48px;
    color: $btn-search-color;
    font-size: 16px;

    i {
      position: relative;
      top: -1px;
      margin-right: 9px;
      font-size: 12px;
    }
  }
  &_search-2 {
    padding: 0 39px 0 40px;
    background-color: $btn-back;
    height: auto;
    line-height: 44px;
    color: $main-orange-color;
    font-size: 18px;
    @include main-font5();

    i {
      position: relative;
      top: -2px;
      margin-right: 8px;
      font-size: 14px;
      color: $main-orange-color;
    }
    &:hover {

      i {
        color: #fff;
      }
    }
  }
  &_search-3 {
    padding: 0 22px;
    background: $main-orange-color;
    height: 48px;
    line-height: 45px;
    color: $btn-search-color;
    font-size: 16px;

    i {
      position: relative;
      top: -1px;
      margin-right: 9px;
      font-size: 12px;
      color: $btn-search-color;
    }
    &:hover {
      color: $main-orange-color;
      background: #fff;

      i {
        color: $main-orange-color;
      }
    }
  }
  &_search-4 {
    padding: 0 40px;
    background: transparent;
    height: 48px;
    line-height: 45px;
    color: $main-blue-color;
    border-color: $main-blue-color;
    font-size: 18px;
    letter-spacing: 0;

    i {
      position: relative;
      top: -1px;
      margin-right: 9px;
      font-size: 14px;
      color: $main-blue-color;
    }
    &:hover {
      color: $main-white-color;
      border-color: $main-orange-color;

      i {
        color: $main-white-color;
      }
    }
  }
  &_send {
    background: $main-orange-color;
    color: $btn-2-color;
    font-size: 16px;

    &:after {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      top: -2px;
      width: 20px;
      height: 20px;
      margin-left: 20px;
      background: url(../img/arrow-sprite.png) no-repeat;
      background-size: 61px 44px;
      background-position: right bottom;
      content: '';
    }
    &:hover {
      background: $main-blue-color;
      border-color: $main-blue-color;
    }
  }
}

@media (min-width: $tablet-landscape) {
  .btn {


  }
}
