$main-blue-color: #3c4f71;
$main-orange-color: #f7a400;
$main-text-color: #8c8ea7;
$main-white-color: #fff;

//site
$site-background: #fff;
$header-background: #fff;
$header-menu-color: $main-blue-color;
$header-menu-mobile-color: #fff;
$header-menu-back: $main-blue-color;
$header-menu-btn-back: $main-blue-color;
$header-menu-btn-opened: #fff;
$footer-text-color: #bbbdd1;

/*---------- hero ----------*/
$hero-title-color: #fefeff;
/*---------- /hero ---------*/

/*---------- about-us ----------*/
$about-us-slider-back: #fff;
$about-us-slider-border: #f4fbfe;
/*---------- /about-us ---------*/

/*---------- languages ----------*/
$languages-color: $main-blue-color;
$languages-active-color: $main-orange-color;
/*---------- /languages ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 000,046,069, .9 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ddd;
$websters-select-opened: #2a2b76;
$websters-select-back: #fff;
$websters-select-item-color: #bbb;
$websters-select-popup-item-active-color: #bbb;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/

$nice-radio-checked-color: #fff;
$nice-radio-back: #fff;
$nice-radio-color_2: #bbb;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-2-border: #fff;
$btn-2-color: #fff;
$btn-search-color: #fbfbfb;
/*---------- /btn ---------*/

/*---------- search-panel ----------*/
$search-panel-back: #fff;
$search-panel-border: #ddd;
$search-panel-color: #bbb;
$search-panel-hover-back: #ddd;
$search-panel-hover-color: #fff;
/*---------- /search-panel ---------*/

/*---------- social ----------*/
$social-facebook-back: #3b5998;
$social-twitter-back: #55acee;
$social-linkedin-back: #0077b5;
$social-viadeo-back: #f07355;
$social-mail-back: #673ab7;
$social-google-back: #db4d41;
$social-color: #fff;
/*---------- /social ---------*/

/*---------- team ----------*/
$team-title-color: #fff;
$team-border: $main-orange-color;
$team-selection-back: #fff;
/*---------- /team ---------*/

/*---------- testimonials ----------*/
$testimonials-title-color: #fff;
$testimonials-deco-border: #fdcd3b;
$testimonials-info-color: #fff;
$testimonials-slider-bullet-back: #fff;
/*---------- /testimonials ---------*/

/*---------- values ----------*/
$values-icon-color: #fff;
$values-color2: #fff;
$values-back2: #fff;
/*---------- /values ---------*/

/*---------- join-us ----------*/
$join-us-color: #fff;
/*---------- /join-us ---------*/

/*---------- description ----------*/
$description-color: #000;
/*---------- /description ---------*/

/*---------- our-team-name ----------*/
$our-team-name-color: #fff;
$our-team-icon-color: #fff;
$our-team-mail-icon-border: #311b92;
/*---------- /our-team-name ---------*/

/*---------- application-name ----------*/
$application-back: #fff;
$application-input-color: #bbb;
$application-input-border: #ddd;
/*---------- /application-name ---------*/

/*---------- job-single ----------*/
$job-single-back: #f7f7f7;
$job-single-header-color: #fff;
$job-single-inner-back: #fff;
$job-single-bullet-border: #c75d5d;
/*---------- /job-single ---------*/

/*---------- contact ----------*/
$contact-back: #f7f7f7;
$contact-wrap-back: #fff;
$contact-map-main-color: #fff;
/*---------- /contact ----------*/

/*---------- apply ----------*/
$apply-back: #f7f7f7;
/*---------- /apply ----------*/

/*---------- search ----------*/
$search-back: #f7f7f7;
$search-aside-back: #fff;
$search-result-border: #f7f7f7;
$search-research-color: #bbb;
$search-path-fill: #ddd;
/*---------- /search --------*/

/*---------- approach ----------*/
$approach-line-back: #ddd;
$approach-item-color: #9b9b9b;
$approach-item-svg-color: #bbb;
$approach-item-circle-color: #bbb;
/*---------- /approach --------*/
