.contact {
  padding: 24px 0 0;
  background: $contact-back;

  &__wrap {
    position: relative;
    margin-bottom: 30px;
  }
  &__form {
    padding: 30px 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
    max-width: 100%;

    .nice-radio_2 {
      margin-right: 49px;
      margin-bottom: 18px;
    }
    button {
      width: 100%;
    }
  }
  &__form-title {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1;
    letter-spacing: -0.6px;
    color: $main-blue-color;
    @include main-font3();
  }
  &__form-subtitle {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: $main-blue-color;
    @include main-font5();
  }
  &__form-item {
    margin-bottom: 10px;
  }
  &__form-text {
    margin-top: -5px;
    padding-left: 2px;
    text-align: center;

    p,
    a {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 24px;
      color: $main-text-color;
      @include main-font1();
    }
    a {

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__form-row {
    margin-bottom: 19px;
  }
  &__map {
    position: relative;
    //height: 360px;
  }
  &__map-canvas {
    position: relative;
    //top: 0;
    //right: 0;
    //bottom: 0;
    width: 100%;
    height: 360px;
  }
  &__map-info {
    position: relative;
    //display: flex;
    //flex-flow: column;
    //justify-content: center;
    //left: 0;
    //top: 0;
    //bottom: 0;
    padding: 30px 20px;
    //width: 88%;
    //max-width: 492px;
    //padding-left: 16%;
    background-color: $main-orange-color;
    color: $contact-map-main-color;

    dl {
      margin-bottom: 20px;
      dt {
        display: block;
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        @include main-font3();
      }
      dd {
        font-size: 14px;
        letter-spacing: 0;
        @include main-font1();

        a,
        address {
          color: $contact-map-main-color;
          font-style: normal;
          cursor: default;
        }

        a[href^=mailto] {
          border-bottom: 1px solid transparent;
          cursor: pointer;
          @include transition(border-color, .3, 0);

          &:hover {
            border-bottom: 1px solid $contact-map-main-color;
          }
        }
      }
    }
  }
  &__map-title {
    width: 90px;
    margin-bottom: 25px;
    img {
      width: 100%;
    }
  }
  &__map-switcher {
    margin-bottom: 39px;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: $main-white-color;
    @include main-font3();
  }
  &__map-switcher-item {
    opacity: .5;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 29px;
    cursor: pointer;
    @include transition( opacity, .3, .05 );

    &.active {
      cursor: default;
    }
    &.active,
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-portrait) {

  .contact {

    &__wrap {

    }
    &__form {
      //width: 50%;
      box-shadow: none;
    }
    &__map {
      height: 400px;
    }
    &__map-canvas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: calc(100% - 306px);
    }
    &__map-info {
      position: absolute;
      display: flex;
      flex-flow: column;
      justify-content: center;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      max-width: 306px;
      padding-left: 5%;
    }
    &__map-image {
      overflow: hidden;
    }
    &__map-tooltip {
      opacity: 0;
      visibility: hidden;
      transform: translateY(50px);
      -webkit-transition: transform .2s ease-in-out, opacity .2s ease-in-out;
      transition: transform .2s ease-in-out, opacity .2s ease-in-out;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
@media (min-width: $desktop) {

  .contact {

    &__form {
      padding: 36px 0 26px;

      fieldset {
        margin-bottom: 20px;
      }
    }
    &__form-title {
      margin-bottom: 40px;
      margin-left: -2px;
      font-size: 22px;
    }
    &__form-subtitle {
      margin-bottom: 23px;
      font-size: 12px;
    }
    &__form-item {
      margin-bottom: 23px;
    }
    &__form-row {
      display: flex;
      justify-content: space-between;
    }
    &__form-col {
      width: 48.7%;

      &:nth-child(1) {
        width: 48.8%;
      }
    }
    &__map {
      height: 400px;
    }
    &__map-canvas {
      width: calc(100% - 637px);
    }
    &__map-info {
      max-width: 637px;
      padding-left: 110px;
      padding-top: 0;
      padding-bottom: 1px;

      dl {
        margin-bottom: 35px;
        dt {
          margin-bottom: 9px;
          font-size: 14px;
        }
        dd {
          font-size: 20px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

      }
    }
    &__map-title {
      width: 140px;
      margin-bottom: 53px;
      //font-size: 30px;
      //line-height: 32px;
    }
  }
}
@media (min-width: $desktop-wide) {


}
