.description {
  padding: 40px 0;

  &__wrap {

    p {
      margin-bottom: 17px;
      font-size: 14px;
      line-height: 19px;
      color: $main-text-color;
      letter-spacing: -0.3px;
    }
  }
}

@media (min-width: $tablet-portrait) {

  .description {

    .site__centered {
      text-align: justify;

      &:after {
        display: inline-block;
        width: 100%;
        content: '';
      }
    }
    &__wrap {
      vertical-align: top;
      display: inline-block;
      width: 46.8%;
      text-align: justify;
    }
  }
}

@media (min-width: $tablet-landscape) {

  .description {
    padding: 70px 0 31px;

    &__wrap {

      p {
        margin-bottom: 26px;
        //font-size: 20px;
        //line-height: 31px;
      }
    }
  }
}

@media (min-width: $desktop) {



}
