.join-us {
  background-color: #faa41a;

  .site__centered {
    padding: 40px 15px;
    color: $join-us-color;
    text-align: center;

    > span {
      display: block;
      margin-bottom: 13px;
      font-size: 25px;
      letter-spacing: -0.1px;
      color: $join-us-color;
      @include main-font1();

      strong {
        @include main-font3();
      }
    }
    > p {
      font-size: 16px;
      line-height: 24px;
      @include main-font1();
    }
    a {
      display: inline-block;
      border-bottom: 2px solid $join-us-color;
      color: $join-us-color;
      @include main-font3();
      @include transition(border-color, .3, 0);

      &:hover {
        border-color: transparent;
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

}

@media (min-width: $tablet-landscape) {

  .join-us {

    .site__centered {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 11px 60px;

      > span {
        display: inline-block;
        margin: 7px 0 0;
        font-size: 27px;
      }
      > p {
        font-size: 14px;
        line-height: 20px;
      }
    }

  }
}

@media (min-width: $desktop) {


}
