
.news {
  padding: 40px 0;

  .site__centered {
    padding: 0;
  }
  .swiper-container {
    padding: 15px 15px 30px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    color: $main-blue-color;
    text-align: center;
    @include main-font5();

    span {
      display: block;
      margin-top: 5px;
      font-size: 20px;
      line-height: 28px;
      color: $main-text-color;
      @include main-font1();
      letter-spacing: 0.3px;
    }
  }
  &__list {
    position: relative;
    padding: 0 30px;

    .swiper-button-next,
    .swiper-button-prev {
      @include absoluteCenterY();
      width: 17px;
      height: 30px;
      background: none;
      margin: 0;

      svg {
        width: 100%;
        height: 100%;

        path{
          fill: #dddddd;
          @include transition( fill, .2, 0 );
        }
      }
      &:hover svg {

        path {
          fill: $main-orange-color;
        }
      }
    }
    .swiper-button-prev {
      left: 0;

      svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .swiper-button-next {
      right: 0;
    }
  }
  &__item {
    position: relative;
    width: 30%;
    margin: 0;
    padding: 60% 15px 87px;
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.08);
    @include transition( all, .2, 0 );

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border: 2px solid transparent;
      @include transition(all, .2, 0);
      content: '';
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.08);

      &:before {
        top: -15px;
        bottom: -15px;
        right: -15px;
        left: -15px;
        border: 2px solid $main-orange-color;
      }
      .news__item-link {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        svg {
          @include absoluteCenter();
          height: 30px;

          path {
            fill: $main-orange-color;
          }
        }
      }
    }
  }
  &__item-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40.2%;
    background-size: cover;
    background-position: center;
  }
  &__item-title {
    overflow: hidden;
    height: 55px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 27px;
    color: $main-blue-color;
    font-weight: 400;
  }
  &__item-text {
    overflow: hidden;
    height: 65px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: $main-text-color;
    @include main-font7();
  }
  &__item-link {
    position: absolute;
    display: inline-block;
    bottom: 39px;
    left: 15px;
    font-size: 13px;
    line-height: 30px;
    color: $main-blue-color;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    @include main-font5();
    -webkit-transform: translateX(0);
    transform: translateX(0);
    @include transition(all, .2, 0);

    svg {
      @include absoluteCenterY();
      left: 114%;
      height: 14px;
      width: auto;
      @include transition(all, .2, 0);

      path {
        fill: #dfdfdf;
        @include transition(fill, .2, 0);
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .news {

    &__item {
      padding: 26% 15px 87px;
    }
    &__item-pic {
      height: 40.2%;
    }
  }
}
@media (min-width: $tablet-landscape) {


}
@media (min-width: $desktop) {

  .news {
    padding: 120px 0 24px;

    &__title {
      margin-bottom: 53px;
      font-size: 36px;

      span {
        font-size: 23px;
        line-height: 32px;
      }
    }
    &__list {
      padding: 0;

      .swiper-button-prev {
        left: -61px;
      }
      .swiper-button-next {
        right: -61px;
      }
    }
    &__item {
      padding: 23.3% 50px 102px 39px;
    }
    &__item-title {
      height: 80px;
      margin-bottom: 21px;
      font-size: 30px;
      line-height: 40px;
    }
    &__item-text {
      height: 80px;
      font-size: 18px;
      line-height: 26px;
    }
    &__item-link {
      left: 40px;
    }
    &__item-pic {
      height: 43.2%;
    }
  }
}


