.nice-checkbox {
  display: block;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      color: $main-orange-color;
    }
  }
  label {
    opacity: 1;
    display: inline-block;
    font-size: 16px;
    color: $main-blue-color;
    @include main-font10();
    cursor: pointer;
    -webkit-transition: opacity .3s, color .3s;
    transition: opacity .3s, color .3s;

    &:hover {
      opacity: .85;
    }
  }
}
.nice-checkbox_2 {
  display: inline-block;
  vertical-align: top;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      border: 2px solid $main-orange-color;
      box-shadow: 0 2px 8px 0 rgba(253, 59, 67, 0.3);
      background: $main-orange-color !important;
      color: $nice-radio-checked-color;
      cursor: default;
    }

    &:disabled + label {
      cursor: pointer;
    }

  }
  label {
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 15px;
    border: 2px solid $main-blue-color;
    border-radius: 40px;
    color: $main-blue-color;
    cursor: pointer;
    font-size: 15px;
    @include main-font10();
    -webkit-transition: color .3s, background .3s;
    transition: color .3s, background .3s;

    &:hover {
      color: $nice-radio-checked-color;
      background: $main-blue-color;
    }
  }
}
@media (min-width: $desktop) {

  .nice-checkbox {

    label {
      font-size: 22px;
    }
  }
}
