
.references{
  padding: 40px 0;

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    color: $main-blue-color;
    text-align: center;
    @include main-font3();

    span {
      display: block;
      margin-top: 5px;
      font-size: 20px;
      line-height: 28px;
      color: $main-text-color;
      @include main-font1();
      letter-spacing: 0.3px;
    }
  }
  &__gallery {
    position: relative;
    padding: 0 20px;

    .swiper-container {
      height: 177px;
    }
    .swiper-wrapper {

    }
    .swiper-slide {
      width: auto;

      &-active a {

        img {
          opacity: 1;
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      @include absoluteCenterY();
      width: 11px;
      height: 20px;
      background: none;
      margin: 0;

      svg {
        width: 100%;
        height: 100%;

        path{
          fill: #ccc;
          @include transition( fill, .2, 0 );
        }
      }
      &:hover svg {

        path {
          fill: $main-orange-color;
        }
      }
    }
    .swiper-button-prev {
      left: 10px;

      svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .swiper-button-next {
      right: 10px;
    }
  }
  &__gallery-item {
    display: flex;
    height: 100%;
    align-items: center;

    a {

      img {
        display: block;
        opacity: .4;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        @include transition( all, .2, 0 );
      }
      &:hover {

        img {
          opacity: 1;
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .references{

    &__gallery {
      padding: 0 200px;

      .swiper-button-prev {
        left: 50px;
      }
      .swiper-button-next {
        right: 50px;
      }
    }
  }
}
@media (min-width: $tablet-landscape) {


}
@media (min-width: $desktop) {

  .references{
    padding: 66px 0 57px;

    &__title {
      margin-bottom: 9px;
      font-size: 36px;

      span {
        font-size: 23px;
        line-height: 32px;
      }
    }
  }
}


