.testimonials {
  padding: 40px 0;
  background: $main-blue-color;

  &__title {
    margin-bottom: 19px;
    font-size: 30px;
    color: $testimonials-title-color;
    text-align: center;
    letter-spacing: -0.4px;
    @include main-font3();

    span {
      display: block;
      margin-top: 10px;
      font-size: 20px;
      line-height: 28px;
      color: $main-text-color;
      @include main-font9();
      letter-spacing: -0.4px;
      //font-style: italic;

      strong {
        @include main-font8();
        //font-weight: 700;
      }
    }
  }
  &__info {
    padding: 25px 10px;
  }
  &__info-pic {
    position: relative;

    &:before {
      position: absolute;
      top: -10px;
      left: -10px;
      border: 2px solid $testimonials-deco-border;
      width: 116px;
      height: 116px;
      content: '';
    }
    img {
      position: relative;
      z-index: 1;
      width: 140px;
      height: 140px;
      border: 10px solid $main-blue-color;
    }
  }
  &__info-text {
    height: 220px;

    p {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 24px;
      color: $testimonials-info-color;
      @include main-font7();
    }
  }
  &__info-name {
    margin-bottom: 10px;
    font-size: 16px;
    color: $testimonials-info-color;
    @include main-font3();

    span {
      padding-left: 5px;
      color: $main-text-color;
      @include main-font2();
    }
  }
  &__info-rate {
    position: relative;
    height: 20px;
    width: 142px;

    div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: url(../img/star.png) repeat-x;
      background-size: 30px 20px;
    }
  }
  .swiper-container {
    max-width: 900px;
    margin: 0 auto;

    .swiper-wrapper {

    }
    .swiper-slide {

    }
    .swiper-pagination {
      bottom: 2px;

      &-bullet {
        opacity: 1;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background: $testimonials-slider-bullet-back;
        -webkit-transition: background .3s;
        transition: background .3s;

        &-active {
          width: 14px;
          height: 14px;
          background: transparent;
          border: 3px solid $testimonials-slider-bullet-back;
        }
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .testimonials {

    &__info-pic {
      vertical-align: top;
      display: inline-block;
      margin-right: 54px;
    }
    &__info-text {
      overflow: hidden;
      vertical-align: top;
      display: inline-block;
      padding-top: 10px;
      height: 170px;
      width: 70%;
    }
    &__info-name {
      vertical-align: top;
      display: inline-block;
      margin-right: 25px;
    }
    &__info-rate {
      vertical-align: top;
      display: inline-block;
    }
  }
}

@media (min-width: $desktop) {

  .testimonials {
    padding: 77px 0 74px;

    &__title {
      margin-bottom: 6px;
      font-size: 35px;

      span {
        margin-top: 21px;
        font-size: 22px;
        line-height: 32px;
      }
    }
    &__info {
      padding: 63px 53px;
    }
    &__info-text {
      height: 143px;
      width: 595px;

      p {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__info-name {
      margin-right: 25px;
      font-size: 18px;
    }
  }
}
