.values {
  padding: 40px 0 20px;
  @include main-font1;
  background-color: #eee;

  &__title {
    margin-bottom: 40px;
    font-size: 35px;
    color: #3c4f71;
    text-align: center;
    letter-spacing: -0.6px;
    @include main-font3();

    span {
      display: block;
      margin-top: 8px;
      font-size: 18px;
      line-height: 26px;
      @include main-font1();
      letter-spacing: 0;

      strong {
        @include main-font8();
        font-weight: 700;
      }
    }
  }

  &__list {
    text-align: center;
  }

  &__list-item {
    display: block;
    max-width: 320px;
    margin: 0 auto 20px;
    padding: 0 3.5%;
    text-align: center;

    span {
      display: block;
      margin-bottom: 5px;
      font-size: 25px;
      line-height: 28px;
      letter-spacing: -0.8px;
      color: #3c4f71;
      @include  main-font1();
    }
    p {
      font-size: 18px;
      line-height: 28px;
      color: #838fa3;
      @include  main-font1();
    }

    &:hover {

      .values__list-pic {
        //background: transparent;

        path {
          fill: $main-blue-color;
        }
      }
    }
  }

  &__list-pic {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fff;
    @include transition(all, .3, 0);

    svg {
      @include absoluteCenter();


      path {
        fill: #3c4f71;
        @include transition(fill, .3, 0);
      }
    }
    &_certificate {

      svg {
        width: 70px;
        height: 65px;
      }
    }
    &_atomium {

      svg {
        width: 70px;
        height: 70px;
      }
    }
    &_team {

      svg {
        width: 70px;
        height: 70px;
      }
    }
    &_clock {

      svg {
        width: 70px;
        height: 70px;
      }
    }
    &_clean {

      svg {
        width: 70px;
        height: 70px;
      }
    }
  }

}

@media (min-width: $tablet-portrait) {

  .values {

    &__list {
      text-align: center;
    }
    &__list-item {
      opacity: 0;
      vertical-align: top;
      display: inline-block;
      width: 45%;

      a {

        &:hover {

          .values__list-pic {
            transform: translateY(-10px)
          }

        }
      }

      &.animation {
        animation: fade-in .3s forwards;
      }
    }
  }

  @keyframes fade-in {

    0%{
      transform: translateY(100px);
      opacity: .2;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }

  }
  @-webkit-keyframes fade-in {
    0%{
      -webkit-transform: translateY(100px);
      opacity: .2;
    }
    100%{
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
  }
}

@media (min-width: $desktop) {

  .values {
    @include flexbox();
    @include flex-direction();
    @include align-items( flex-start );
    @include justify-content(center);
    padding: 73px 0 32px;

    .site__centered {
      margin: 0;
    }

    &__title {
      margin-bottom: 68px;
      font-size: 33px;

      span {
        font-size: 17px;
        line-height: 24px;
        font-style: normal;
      }
    }
    &__list{
      margin: 0 -16px;
    }
    &__list-item {
      width: 33%;
      max-width: none;
      margin-bottom: 51px;
      padding: 0 5.5%;

      span {
        margin-bottom: 9px;
        font-size: 23px;
        line-height: 21px;
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
    }
    &__list-pic {
      width: 135px;
      height: 135px;
      margin: 0 auto 33px;

      &_certificate {
        svg {
          width: 87px;
          height: 71px;
        }
      }
      &_atomium {

        svg {
          width: 75px;
          height: 75px;
        }
      }
      &_team {

        svg {
          width: 75px;
          height: 75px;
        }
      }
      &_clock {

        svg {
          width: 60px;
          height: 60px;
        }
      }
      &_clean {

        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

}
